.icon {
    width: 100%;
    display: block;
}
.column {
    float: left;
    width: 25%;
    margin-top: 5px;
    border: solid;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height:100%;
  }


  .thumbnail {
    position: relative;
    display: block;
}

.icontext {
    width: 100%;
    background-color: #1c6e20;
    word-wrap: normal;
    text-align: center;
    font-size: 1vw;
    color: white;
  }


@media screen and (max-width: 600px) {
    .column {
      width: 50%;
    }
    .icontext {
        font-size: 2vw;
    }
  }


  .title2 {
    width: 100%;
    display: inline-block;
  }