#notes {
  padding: 1em 0px 1em;
}

.bullet {
  width: 20%;
}

.meme {
  width: 75%;
  max-width: 350px;
}

.bullet_link {
  display: inline;
  color: seagreen;
}

.token {
  width: 50%;
  max-width: 70px;
}

.imagecredit {
  max-width: 200px;
}

.point {
  transform-origin: center;
}

