#notes {
  padding: 1em 0px 1em;
}

.bullet {
  width: 20%;
}

.meme {
  width: 75%;
  max-width: 350px;
}

.bullet_link {
  display: inline;
  color: seagreen;
}

.token {
  width: 50%;
  max-width: 70px;
}

.hand {
  -webkit-animation: pulltoken 3s infinite  alternate;
  animation: pulltoken 3s infinite  alternate;
}
@keyframes pulltoken {
  0% { transform: translateY(0); }
  100% { transform: translateY(100px); }
}

@-webkit-keyframes pulltoken {
  0% { transform: translateY(0); }
  100% { transform: translateY(100px); }
}

.imagecredit {
  max-width: 200px;
}
.point {
  animation: spin 2.5s;
  animation-name: spin;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(460deg);
    }
}
